@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Spectral:wght@700&display=swap');

* {

    padding: 0;
    border: none;
}
/* .......................................   ....section1  style index Html.......................................... */
body {
    font-family: Merriweather, serif;
    font-weight: 700;
    color: rgb(13, 15, 13);
    background-color: rgb(255, 249, 249);
}

/* headder elements in the flex box*/
#header1 {
    background-color: rgba(103, 189, 106, 0.6);
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
}

#headding {
    font-family: spectral, serif;
    font-size: 60px;
    float: left;
    color: rgb(11, 11, 11);
    /* text-transform: uppercase; */
    letter-spacing: 3px;
    text-decoration: none;
    line-height: 60px;
    margin-right: 30px;
    margin-left: 20px;
}

/* navigation elements*/

.nav-list {
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 60px;
    margin-right: 20px;

    float: right;
    position: absolute;
    right: 0;
    padding-top: 25px;

}

.nav-list a {
    text-decoration: none;
}

.nav-list li {
    float: left;
    list-style-type: none;
    margin-left: 20px;

}

/*first background image*/
#first-image {
    background: url('..//image/cover-chilli-copy.webp')no-repeat center center;
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100%;

}


/* content styling*/
#content {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 127, 223);
    /* border-radius: 50%; */
    align-items: center;
    background-color: rgba(229, 238, 234, 0.6);
    transition: transform .3s;
}

/* #content:hover { 
   transform: scale(1.1);
 }  */

#content li {
    /* font-size: 100%; */
    font-family: Spectral, sans-serif;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    list-style-type: none;
    /* word-spacing: 3px;
   color: rgb(16, 16, 88); */
}

#content h3 {
    text-align: center;
    font-size: 34px;
    line-height: 40px;
    color: rgb(16, 16, 88);
}

#content h4 {
    text-align: center;
    font-size: 125%;
    color: rgb(16, 16, 88);

}

#content h2 {
    font-size: 45px;
    line-height: 49px;
    font-family: Spectral, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: rgb(13, 80, 26);
    padding: 0 40px;
    text-align: center;
}

#content>ul {
    padding: 0 40px;
}

/* style columns and cover text in felxbox */

.rooms li {
    color: rgb(31, 85, 131);
    list-style-type: none;
}

.rooms {
    font-size: 15px;
    font-family: Lora, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: auto;
    height: 50%;
    padding: 30px 25px;
    margin: auto 0;
    background-color: rgba(222, 222, 222, 0.6);
}

.rooms {
    text-align: left;
    color: blanchedalmond;
}

.rooms {

    transition: transform .2s;

    /*zoom effect*/
}

.rooms:hover {
    transform: scale(0.9)
    
}
/* .rooms:hover{
touch-action: auto double-tap-zoom;
} */

ul h2 {
    color: rgb(22, 28, 59);
}

.flexwrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
}

.flexwrap>* {
    padding: 10px;
    margin: 10px;
    flex: 100%;
    border-radius: 10px;
    height: 500px;
}

.column1 {

    background-color: tomato;
    background-image: url('..//image/fish-curry.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    overflow: hidden;

}

.column2 {
    background: turquoise;
    background-image: url('..//image/uppuma.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    overflow: hidden;
}

.column3 {
    background: tomato;
    background-image: url('..//image/appam-egg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    overflow: hidden;
}

.column4 {
    background: turquoise;
    background-image: url('..//image/cocnutpudding-PNYSJHc0M-transformed.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    overflow: hidden;
}


/*media query for larger screen 1200px and down*/
@media screen and (max-width:1200px) {

    #first-image,
    #header,
    .nav-list {
        /* flex: 1; */
        flex-direction: row;
    }
}

/*media query for screen 800px and down */
@media screen and (max-width:800px) {

    #first-image,
    #header,
    .nav-list {
        /* flex: 1; */
        flex-direction: column;
    }
    .recipie-pic {
        display: block !important;
    }

}


/*media query for  screen 700px and down */

@media screen and (max-width:700px) {

    #first-image,
    #header,
    .nav-list {
        /* flex: 1; */
        flex-direction: column;
    }

    .nav-list {
        /* display: inline-block; */
        margin-right: 15px;
        position: absolute;
        line-height: 15px;
        /* float: left; */
        left: 0;
        right: 0;
        margin: auto;
        display: inline-table;
        top: 14%;
    }

    .nav-list li {
        margin-left: 15px;
    }

    #headding {
        margin-left: 0;
        margin-bottom: 12vh;
        width: 100%;
    }

    #header1 {
        padding: 12px;
        text-align: center;
    }

    .rooms:hover {
        transform: scale(0.9)
    }

    .form-section {
        display: block !important;
    }

    .signin-form {
        max-width: 100% !important;
    }

    .box-right {
        padding: 140px 0px !important;
    }
}

@media screen and (max-width:375px) {
    .nav-list {
        top: 25%;
    }

    .nav-list li {
        margin-left: 10px;
    }

    .thank-you {
        padding: 25px !important;
    }


}

@media screen and (max-width:325px) {

    #header1 {
        padding: 20px 15px;
    }

    .nav-list {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        float: left;
        margin-left: 34px;
    }

    .nav-list li {
        float: none;
        margin-bottom: 10px;
        margin-left: 0;
    }

    #headding {
        margin-top: 10px;
        font-size: 32px;
        line-height: 36px;
    }
}


/*     social media links       */


#socialmedia>ul {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin-left: 20px;
}

#socialmedia i {
    font-size: 200%;
    margin: 1%;
    padding: 8%;
    color: rgb(68, 0, 255);
}

/* .................................section2 food image style section ........................................*/


.recipie-pic {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    align-content: space-around;
}

.recipie-pic>* {
    padding: 3px;
    margin: 5px;
    flex: 100%;
    border-radius: 10px;
    height: 450px;
}

.pic1 {
    background-color: tomato;
    background-image: url('..//image/cutlet-transformed.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    overflow: hidden;
}

.pic2 {
    background: turquoise;
    background-image: url('..//image/fried-rice2-transformed.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    overflow: hidden;
}

.pic3 {
    background: tomato;
    background-image: url('..//image/iddaly.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    overflow: hidden;
}

.pic4 {
    background: turquoise;
    background-image: url('..//image/payasam.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    overflow: hidden;
}

.pic5 {

    background-color: tomato;
    background-image: url('..//image/kanji-curry.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    overflow: hidden;

}

.pic6 {
    background: turquoise;
    background-image: url('..//image/prawns-biriyani-transformed.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    overflow: hidden;
}

.pic7 {
    background: tomato;
    background-image: url('..//image/puttu.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    overflow: hidden;
}

.pic8 {
    background: turquoise;
    background-image: url('..//image/beef-fry_1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    overflow: hidden;
}

/*  .......text style in foodimaghe html .......*/
.image1 {
    position: relative;
    cursor: pointer;
}

.image-text {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(221, 135, 135, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.3s 0.2s ease-in-out;
    color: #fafafa;

    /* ............ center text content..........*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.image1:hover .image-text {
    transform: scale(1);
}

#foodimg {
    font-family: Merriweather, serif;
    text-align: justify;
    letter-spacing: 2px;
    word-spacing: 2px;

}
/* media query for recipie images */
@media screen and (max-width: 800px) {
    .recipie-pic {
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
      align-content: space-around;
    }
}

/* ............................................section3 style join us form ...........................................*/

.form-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url(../image/spices-in-spoon-transformed.webp);
    background-size: cover;
    background-repeat: no-repeat;
}


.form-image {
    position: absolute;
    width: 300px;
    height: 300px;
}

.signin-form {
    /* margin: 2% 0%; */
    background-color: rgba(162, 172, 163, 0.36);
    max-width: 34%;
    /* position: absolute; */
    /* left: 10%; */
    padding: 30px;
    color: rgb(250, 250, 250);
}

.box-right {
    background-color: rgba(162, 172, 163, 0.36);
    width: 100%;
    text-align: center;
    padding: 140px 50px;
    color: white;
}

.signin-form>h2 {
    color: #fff;
    margin-bottom: 20px;
}

.text-input {
    background: rgb(62, 46, 46);
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #253b9f;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #2f5bad;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #38989d;
    color: #05170b;
}

footer {
    /* position: absolute; */
    bottom: 0;
    width: auto;
    background-color: rgba(103, 189, 106, 0.6);
    padding: 10px;
}

.contact-us {
    background-color: rgba(225, 225, 225, 0.70);
    position: relative;
    width: 20vw;
    margin: 0 auto;
    padding: 1em;
}
.contact-us p {
color: black;
}

@media screen and (max-width: 700px) {
    .contact-us {
        width: 55vw;
    }
}
/* ................................. section4 thank you page style with animation ................................. */
.thank-you {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 150px;
    border-radius: 150%;
    background-color: rgba(88, 111, 100, 0.42);

    /* zoom effect on thankyou page */
    animation-name: thankyou-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes thankyou-zoom {
    from {
        transform: scale(.6);
    }

    to {
        transform: scale(1);
    }

}

.thank-you h2,
.thank-you h3 {
    font-size: 25px;
    font-family: Merriweather, serif;
    color: #e3ecec;
    margin: 10px;
}

#bgimage {
    background-image: url('..//image/spices-transformed.webp');
    background-size: cover;
    background-position: center;
    height: 115vh;
    background-repeat: no-repeat;
}

/* media query for 700px below */
@media screen and (max-width: 700px) {
    .flexwrap {
        flex-direction: column;
    }
}
